<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8' />
  <title>Spec 0.2</title>
  <script type="text/javascript">
    if (screen.width <= 699) {
      document.location = "m/";
    }
  </script>
  <link href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.0.0/fullcalendar.css' rel='stylesheet' />
  <link href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.0.0/fullcalendar.print.css' rel='stylesheet' media='print' />
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <link href="dist/css/plugins.min.css" rel="stylesheet">
  <link href="dist/css/spec.min.css" rel="stylesheet">
  {{ if(permission == 10) { }}
  <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.6/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet"/>
  {{ } }}
  <style id="modifyCSSRule"></style>
</head>

<body>
<div id="leftGroup" class="btn-group">
  <span class="btn-group">
    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
      <i class="icon-eye-open"></i> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu front">
      <li><a href="#all"><i class="icon-calendar"></i> All Events</a></li>
      <li><a href="#hideCancelled"><i class="icon-tasks"></i> Hide Cancelled Events</a></li>
      <li><a href="#unstaffed"><i class="icon-list-alt"></i> Unstaffed Events</a></li>
      <li><a href="#onlyMine"><i class="icon-filter"></i> Only Mine</a></li>
      <li class="divider"></li>
      <li><a href="#recentVideo"><i class="icon-film"></i> Recent video events</a></li>
    </ul>
  </span>
  <span class="btn-group">
    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
      <i class="icon-folder-open"></i> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu front">
      <li><a href="print/"><i class="icon-print"></i> Printer Friendly</a></li>
      <li class="divider"></li>
      {{ if(permission == 10) { }}
      <li><a href="update/"><i class="icon-upload"></i> Force EMS Update</a></li>
      <li><a href="staffCheck/"><i class="icon-user"></i> Single Staff Check</a></li>
      <li><a href="staffTable/"><i class="icon-th-list"></i> Staff Table</a></li>
      <li><a href="staff/db/"><i class="icon-th-large"></i> Staff Database</a></li>
      <li><a href="report/"><i class="icon-briefcase"></i> Report/Overview</a></li>
      <li class="divider"></li>
      {{ } }}
      <li><a href="https://ims.wesleyan.edu/" target="_blank"><i class="icon-inbox"></i> Office Manager</a></li>
      <li><a href="http://github.com/wesleyan/spec/wiki/Help" target="_blank"><i class="icon-question-sign"></i> Help</a></li>
      <li><a href="logout/"><i class="icon-thumbs-down"></i> Log out</a></li>
    </ul>
  </span>
  <span class="btn-group">
    <button type="button" class="btn btn-danger disabled" id="eventButton">
      <i class="icon-book icon-white"></i>
    </button>
  </span>
</div>
<div id="rightGroup" class="btn-group">
  <span class="btn-group">
    <button id="gCalButton" class="btn btn-primary">
      <i class="icon-calendar icon-white"></i> G
    </button>
  </span>
</div>
<div id='calendar'></div>
<div id="context-menu" class="front">
    <ul class="dropdown-menu">
    </ul>
</div>
<div id="popup" class="popover">
</div>
<div id="staff-modal" class="modal front hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Staff this event</h3>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
<script type="text/template" id="staff-template">
  <span class="pull-right">
    <%=event.start.format('h:mm A') %> -
    <%=event.end.format('h:mm A') %>
  </span>
  <b>
    <%=event.title %>
  </b>
  <div>
    Technician needed for 
    <%=event.techMustStay ? 'the duration of the event' : 'setup and breakdown' %>

    <span class="pull-right">
      <div class="spinner">
        <input type="text" class="input-mini spinner-input" value="<%=event.staffNeeded %>">
        <div class="spinner-buttons btn-group btn-group-vertical">
          <button type="button" class="btn spinner-up">
            <i class="icon-chevron-up"></i>
          </button>
          <button type="button" class="btn spinner-down">
            <i class="icon-chevron-down"></i>
          </button>
        </div>
      </div>
    </span>
  </div>
  <table class="table table-bordered table-hover table-condensed">
      <thead>
          <th><i class="icon-user"></i> Staff</th>
          <th><i class="icon-time"></i> From</th>
          <th><i class="icon-time"></i> To</th>
          <th><i class="icon-edit"></i>
          </th>
      </thead>
      <tbody>
      <% event.shifts.forEach(function(shift) { %>
        <tr>
          <td>
            <% if(shift.staff === '{{=username}}') { %>
              <span class="btn btn-danger btn-mini shiftWithdraw" type="button" data-id="<%= shift.id %>">
                <i class="icon-remove-sign icon-white"></i> Withdraw
              </span>
            <% } else if(shift.staff === '') { %>
              <span class="btn btn-primary btn-mini shiftSignUp" type="button" data-id="<%= shift.id %>">
                <i class="icon-plus-sign icon-white"></i> Sign up
              </span>
            <% } else { %>
              <%= shift.staffname %> (<%= shift.staff %>)
            <% } %>
            <% if(!_(shift.confirmed).isUndefined()) { %>
              &nbsp;(<%=(shift.confirmed) ? 'Confirmed' : 'Unconfirmed' %>)
            <% } %>
          </td>
          <td>
            <%=moment(shift.start).format('h:mm A') %>
          </td>
          <td>
            <%=moment(shift.end).format('h:mm A') %>
          </td>
          <td>
          {{ if(permission != 10) { }}
            <% if('{{=username}}' === shift.staff) { %>
          {{ } }}
              <span class="btn btn-info btn-mini coverShift <%=(shift.cover?'active':'') %>" type="button" data-id="<%= shift.id %>">
                <i class="icon-flag icon-white"></i>
              </span>
              <br>
              <span class="btn btn-danger btn-mini removeShift" type="button" data-id="<%= shift.id %>">
                <i class="icon-remove icon-white"></i>
              </span>
          {{ if(permission != 10) { }}
            <% } %>
          {{ } }}
          </td>
        </tr>
      <% }); %>
      <tr>
        <td>
        {{ if(permission == 10) { }}
          <select class="combobox input-medium" name="normal" id="staffInput">
          </select>
        {{ } else { }}
          <input id="staffInput" class="input-medium" id="disabledInput" type="text" value="{{=username}}" disabled>
        {{ } }}
        </td>
        <td>
          <div class="input-append bootstrap-timepicker">
            <input id="shift-start" type="text" class="input-small">
            <span class="add-on"><i class="icon-time"></i></span>
          </div>
        </td>
        <td>
          <div class="input-append bootstrap-timepicker">
            <input id="shift-end" type="text" class="input-small">
            <span class="add-on"><i class="icon-time"></i></span>
          </div>
        </td>
        <td>
          <button class="btn btn-primary btn-mini" type="button" id="addNewShift">
            <i class="icon-plus icon-white"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</script>

<div id="add-note-modal" class="modal front hide fade" tabindex="-1" roleole="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>
<script type="text/template" id="add-note-template">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Type your note below:</h3>
  </div>
  <div class="modal-body">
    <p>
      <textarea rows="3"></textarea>
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary"> Add note</button>
    <button class="btn" aria-hidden="true" data-dismiss="modal">Cancel</button>
  </div>
</script>

<div id="edit-modal" class="modal front hide fade" tabindex="-1" roleole="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>
<script type="text/template" id="edit-template">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Edit event</h3>
  </div>
  <div class="modal-body">
    <p>
      <table class="table table-bordered table-striped" style="clear: both">
        <tbody>
          <tr>
            <td width="35%">Event Name</td>
            <td width="65%" colspan="2">
              <a href="#" class="x-edit-event" id="title" data-type="text" data-placement="right" data-title="Enter title">
                <%=event.title %>
              </a>
            </td>
          </tr>
          <tr>
            <td>Description</td>
            <td colspan="2"><a href="#" class="x-edit-event" id="desc" data-type="textarea" data-pk="1"><small><%= event.desc %></small></a>
            </td>
          </tr>
          <tr>
            <td>Location</td>
            <td colspan="2">
              <a href="#" class="x-edit-event" id="loc" data-type="text" data-placement="right" data-title="Enter location">
                <%=event.loc %>
              </a>
            </td>
          </tr>
          <tr>
            <td>Date</td>
            <td colspan="2">
              <a href="#" id="startDate" data-type="date" data-pk="1" data-title="Select date">
                <%=moment(event.start).format('MM/DD/YYYY') %>
              </a>
            </td>
          </tr>
          <tr>
            <td>Reserved</td>
            <td style="width:30%">
              <div class="input-append bootstrap-timepicker">
                <input id="timepickerResStart" type="text" class="input-small" value="<%=moment(event.start).format('h:mm A') %>">
                <span class="add-on"><i class="icon-time"></i></span>
              </div>
            </td>
            <td>
              <div class="input-append bootstrap-timepicker">
                <input id="timepickerResEnd" type="text" class="input-small" value="<%=moment(event.end).format('h:mm A') %>">
                <span class="add-on"><i class="icon-time"></i></span>
              </div>
            </td>
          </tr>
          <tr>
            <td>Event Starting</td>
            <td>
              <div class="input-append bootstrap-timepicker">
                <input id="timepickerEventStart" type="text" class="input-small" value="<%=moment(event.eventStart).format('h:mm A') %>">
                <span class="add-on"><i class="icon-time"></i></span>
              </div>
            </td>
            <td>
              <div class="input-append bootstrap-timepicker">
                <input id="timepickerEventEnd" type="text" class="input-small" value="<%=moment(event.eventEnd).format('h:mm A') %>">
                <span class="add-on"><i class="icon-time"></i></span>
              </div>
            </td>
          </tr>
          <tr>
            <td>Needed staff</td>
            <td colspan="2">
              <div id="editSpinner" class="spinner">
                <input type="text" class="input-mini spinner-input" value="<%=event.staffNeeded %>">
                <div class="spinner-buttons btn-group btn-group-vertical">
                  <button type="button" class="btn spinner-up">
                    <i class="icon-chevron-up"></i>
                  </button>
                  <button type="button" class="btn spinner-down">
                    <i class="icon-chevron-down"></i>
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      The changes you have made will be ignored unless you save them.
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary"> Save changes</button>
    <button class="btn" aria-hidden="true" data-dismiss="modal">Cancel</button>
  </div>
</script>

<div id="remove-modal" class="modal front hide fade" tabindex="-1" roleole="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>
<script type="text/template" id="remove-template">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Removing this event</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure that you want to remove the event <b><%=event.title %></b> ?</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger">Remove</button>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
</script>
<script type="text/template" id="modal-popover-template">
  <div class="arrow"></div>
  <h3 class="popover-title">
    <%=icons %> <%=event.title %>
    <span class="pull-right">
      <a class="btn btn-small <%=staffColor %>" data-task="staff">
        <i class="icon-plus icon-white"></i> <%=shiftNumber %>/<%=event.staffNeeded %>
      </a>
    </span>
  </h3>
  <div class="popover-content">
    <p>
      <b><%=moment(event.start).format('dddd') %> | <%=event.loc %></b><br>
      <i class="icon-time"></i> 
      <b><%=moment(event.start).format('h:mm A') %></b>
      <i><%=moment(event.eventStart).format('h:mm A') %></i>
      <i class="icon-arrow-right"></i>
      <i><%=moment(event.eventEnd).format('h:mm A') %></i>
      <b><%=moment(event.end).format('h:mm A') %></b>
      <% if(event.customer.name.length > 2) { %>
        <br><%=event.customer.name %>
      <% } %>
    </p>
    <div id="popupContentInside">
      <%=event.desc %>
    </div>
    <div class="accordion" id="popoverAccordion">
      <div class="accordion-group">
        <div class="accordion-heading drop-active">
          <a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">
            <i class="icon-comment"></i> Notes (<%=event.notes.length %>)
            <span class="pull-right">
              <button class="btn btn-mini btn-inverse" data-task="addNote"><i class="icon-plus icon-white"></i>
              </button>
            </span>
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse <%=collapse[0] ? 'in' : '' %>">
          <div class="accordion-inner" id="notes">
      <table class="table table-hover table-condensed">
        <tbody id="notesBody">
      <% event.notes.forEach(function(note) { %>  
        <tr>
          <td class="notesTable">
            <%= note.text %>
            <br>
            <span class="label"><%= note.user %> | <%=moment(note.date).format('MMM D') %></span>
            {{ if(permission != 10) { }}
            <% if(note.user == Spec.username) { %>
            {{ } }}
            <span class="pull-right btn btn-mini btn-danger removeNote" data-id="<%= note.id %>">
              <i class="icon-remove icon-white"></i></span>
            {{ if(permission != 10) { }}
              <% } %>
            {{ } }}
          </td>
        </tr>
      <% }) %>
          
        </tbody>
      </table>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading drop-active">
          <a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo">
            <i class="icon-wrench"></i> Inventory (<%=event.inventory.length %>)
          </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse <%=collapse[1] ? 'in' : '' %>">
          <div class="accordion-inner" id="inventory">
          </div>
        </div>
      </div>
    </div>
  </div>
</script>
<script type="text/template" id="context-menu-template">
  <li>
    <a data-task="staff">
      <i class="icon-plus"></i> Staff this event
    </a>
  </li>
  <li>
    <a data-task="duration">
      <i class="icon-flag"></i>
      <%=event.techMustStay ? 'Set setup&breakdown' : 'Set tech must stay' %>
    </a>
  </li>
  <li>
    <a data-task="video">
      <i class="icon-facetime-video"></i>
      <%=event.video ? 'Unset video event' : 'Set video event' %>
    </a>
  </li>
  <li>
    <a data-task="audio">
      <i class="icon-volume-up"></i>
      <%=event.audio ? 'Unset audio event' : 'Set audio event' %>
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a data-task="edit">
      <i class="icon-pencil"></i> Edit this event
    </a>
  </li>
  <li>
    <a data-task="cancel">
      <i class="icon-off"></i>
      <%=event.cancelled ? 'Uncancel event' : 'Cancel event' %>
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a data-task="remove">
      <i class="icon-remove"></i> Remove this event
    </a>
  </li>
</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js"></script>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.0.0/fullcalendar.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.6/bootstrap-editable/js/bootstrap-editable.min.js"></script>
<script src="dist/js/plugins.min.js"></script>
<script src="dist/js/spec.min.js"></script>
</body>

</html>

