<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Spec: Reporting Interface</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/backgrid.js/0.2.6/backgrid.min.css" rel="stylesheet">
    <link href="{{=app.locals.path }}dist/css/db.min.css" rel="stylesheet">
    <link href="{{=app.locals.path }}dist/css/plugins.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 30px;
      }
      .buttons {
        margin-top: 20px;
        float:left;
      }
      .main-tabs {
        margin-top: 60px;
      }
      .main-tabs .nav-tabs>li {
        margin-left:20px;
      }
      #overview [class*="span"] {
        padding:10px;
      }
      .graphs .row-fluid [class*="span"] {
        text-align: center;
      }
      .loading {
        position: absolute;
        left: 46%;
        top: 50%;
        font-size: 1.5em;
      }
    </style>
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
      <div class="well loading">Loading</div>
      <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Spec: Reporting Interface</a>
          <div class="nav-collapse collapse pull-right">
            <ul class="nav">
              <li><a href="{{=app.locals.path }}">Back to Spec</a></li>
              <li><a data-toggle="modal" data-target="#helpModal">Help</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
      <div class="buttons">
        <select id="filter" class="form-control">
            <option value="hideCancelled">Hide Cancelled</option>
            <option value="all">All</option>
            <option value="unstaffed">Unstaffed</option>
            <option value="recentVideo">Video</option>
        </select>
        <div class="input-append date" id="d1" data-date="00-00-0000" data-date-format="mm-dd-yyyy">
          <input class="input-small" size="16" type="text">
          <span class="add-on"><i class="icon-th"></i></span>
        </div>
        <div class="input-append date" id="d2" data-date="00-00-0000" data-date-format="mm-dd-yyyy">
          <input class="input-small" size="16" type="text">
          <span class="add-on"><i class="icon-th"></i></span>
        </div>
        <select id="pagination" class="form-control input-small">
          <option>5</option>
          <option selected>10</option>
          <option>15</option>
          <option>20</option>
          <option>50</option>
          <option>100</option>
        </select>
      </div>
      <div class="main-tabs">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#list" data-toggle="tab">List</a></li>
        <li><a href="#overview" data-toggle="tab">Overview</a></li>
        <li><a href="#graphs" data-toggle="tab">Graphs</a></li>
        <li><a href="#export" data-toggle="tab">Export</a></li>
      </ul>
      </div>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="list"><div class="stuff"></div></div>
        <div class="tab-pane" id="overview"></div>
        <div class="tab-pane" id="graphs">
          <select id="graph-type" class="form-control">
              <option>Events - Pie</option>
              <option>Events - Bar</option>
              <option>Time - Bar - Category</option>
              <option>Time - StackedBar - Category</option>
              <option>Time - Line - Category</option>
              <option>Time - Bar - Staffing</option>
              <option>Time - StackedBar - Staffing</option>
              <option>Time - Line - Staffing</option>
          </select>
          <select id="graph-time" class="form-control">
              <option>Days</option>
              <option>Weeks</option>
              <option>Months</options>
              <option>Years</options>
              <option>Fiscal Years</options>
              <option>Semesters</options>
          </select>
          <div class="graphs">
          </div>
        </div>
        <div class="tab-pane" id="export">
          <div class="container">
            <div class="span12">
              <div id="fields"></div>
              <hr>
              <button class="btn btn-primary" type="button">
                <i class="icon-white icon-hdd"></i>
                Export these fields as CSV
              </button>
            </div>
          </div>
        </div>
      </div>
    <script type="text/template" id="overview-template">
      <div class="row-fluid">
        <div class="span4">
          <table class="table table-striped table-bordered">
              <tbody>
                  <tr>
                      <td>Total Number of Events</td>
                      <td>
                          <%=events.length %>
                      </td>
                  </tr>
                  <tr>
                      <td>Total Number of Fully Staffed Events</td>
                      <td>
                        <%=data.fullyStaffed %>
                      </td>
                  </tr>
                  <tr>
                      <td>Total Number of Partially Staffed Events</td>
                      <td>
                        <%=data.partiallyStaffed %>
                      </td>
                  </tr>
                  <tr>
                      <td>Total Number of Unstaffed Events</td>
                      <td>
                        <%=data.unstaffedEvents %>
                      </td>
                  </tr>
              </tbody>
          </table>
        </div>
        <div class="span4">
          <table class="table table-striped table-bordered">
            <tbody>
              <tr>
                  <td>Total Number of Hours</td>
                  <td>
                    <%=data.totalHours %>
                  </td>
              </tr>
              <tr>
                  <td>Total Number of Shift Hours</td>
                  <td>
                    <%=data.totalShiftHours %>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="span4">
          <table class="table table-striped table-bordered">
            <tbody>
              <tr>
                  <td>Total Number of A Events</td>
                  <td>
                      <%=data.getCategoryNumber('A') %>
                  </td>
              </tr>
              <tr>
                  <td>Total Number of B Events</td>
                  <td>
                      <%=data.getCategoryNumber('B') %>
                  </td>
              </tr>
              <tr>
                  <td>Total Number of C Events</td>
                  <td>
                      <%=data.getCategoryNumber('C') %>
                  </td>
              </tr>
              <tr>
                  <td>Total Number of Video Events</td>
                  <td>
                      <%=data.video %>
                  </td>
              </tr>
              <tr>
                  <td>Total Number of Audio Events</td>
                  <td>
                      <%=data.audio %>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </script>
    <script type="text/template" id="event-graphs-template">
      <div class="row-fluid">
        <div class="span4">
          <canvas id="chart1" height="450" width="450"></canvas>
        </div>
        <div class="span4">
          <canvas id="chart2" height="450" width="450"></canvas>
        </div>
        <div class="span4">
          <canvas id="chart3" height="450" width="450"></canvas>
        </div>
      </div>
    </script>
    <script type="text/template" id="time-graphs-template">
      <div class="row-fluid">
        <div class="span12">
          <canvas id="chart" height="500" width="1200"></canvas>
        </div>
      </div>
    </script>
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone-pageable/1.4.5/backbone-pageable.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backgrid.js/0.2.6/backgrid.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="http://joom.im/code/ChartNew.js/ChartNew.min.js"></script>
    <script src="{{=app.locals.path }}dist/js/db.min.js"></script>
    <script src="{{=app.locals.path }}dist/js/plugins.min.js"></script>
    <script src="{{=app.locals.path }}dist/js/manager/reportingInterface.min.js"></script>
  </body>
</html>
