<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Spec: Single Staff Check</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-dropdown.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-typeahead.js"></script>
    <script src="../lib/bootstrap-combobox.js"></script>
    <script src="../lib/bootstrap-datepicker.js"></script>
    <script src="../lib/other/utility.js"></script>
    <script src="../lib/other/staffCheck.js"></script>
    
    <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" rel="stylesheet" media="screen,print">
    <link href="../lib/bootstrap-datepicker.css" rel="stylesheet">
    <link href="../lib/bootstrap-combobox.css" rel="stylesheet">
    <link href="../lib/other/staffTable.css" rel="stylesheet">
  </head>
  <body>
    <div id="wrap">
      <div class="container">
        <div class="page-header"><span class="pull-right"><a class="btn btn-info btn-large" href="../">Back to Spec</a></span>
          <h2>Spec: Single Staff Check</h2>
        </div>
        <p class="lead">Type the name of the staff that you want to see the events ze was assigned.</p>
        <div class="form-inline">
        <select class="combobox" placeholder="Choose a staff">
          <option></option>
          {{ storeStaff.forEach(function(staff) { }}
            <option value="{{=staff.username}}">{{=staff.name}} ({{=staff.username}})</option>
          {{ }); }}
        </select>
        <div class="input-append date" id="d1" data-date="00-00-0000" data-date-format="mm-dd-yyyy">
          <input class="input-small" size="16" type="text">
          <span class="add-on"><i class="icon-th"></i></span>
        </div>
        <div class="input-append date" id="d2" data-date="00-00-0000" data-date-format="mm-dd-yyyy">
          <input class="input-small" size="16" type="text">
          <span class="add-on"><i class="icon-th"></i></span>
        </div>
        <button class="btn btn-primary" id="send" type="button">See hir events</button>
        </div>
        <hr>
        <!-- this is where all the stuff is loaded after an ajax request-->
        <div id="content"> </div>
        <p></p>
      </div>
      <div id="push"></div>
    </div>
    <div id="footer">
      <div class="container">
        <p class="muted credit">Wesleyan University Instructional Media Services - Special Events Calendar (Spec).</p>
      </div>
    </div>
  </body>
    <script type="text/template" class="template">
     <% 
     var totalNumberOfMinutes = 0;
     rc.events.forEach(function(event) {  %>
        <div class="media">
            <div class="media-body">
            <span class="media-heading pull-right" style="font-size:18px">
            <%= formatAMPM(new Date(Date.parse(event.start))) %> - <%= formatAMPM(new Date(Date.parse(event.end))) %>
            <% if(event.duration == false) { %>
             (setup and breakdown)
              <% } else { %>
              (duration)
              <% } %>
            </span>
              <h4 class="media-heading"><%= event.title %></h4>

              <h5>Event itself starts at <%= formatAMPM(new Date(Date.parse(event.eventStart))) %> - <%= formatAMPM(new Date(Date.parse(event.eventEnd))) %></h5>
           <table class="table table-striped table-bordered">
                <tbody>
                <% var hirShift = $.grep(event.shifts, function(e){ return e.staff == user }); 
                %>
                 <% hirShift.forEach(function(shift) { %>
                  <tr>
                    <td>(<%= shift.staff %>)</td>
                    <td><%= formatAMPM(new Date(Date.parse(shift.start))) %></td>
                    <td><%= formatAMPM(new Date(Date.parse(shift.end))) %></td>
                  </tr>
                  <%
                  totalNumberOfMinutes += (-Date.parse(shift.start)+Date.parse(shift.end))/60;
                  %>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
      <% }); %>
      <div class="alert">
        <b><%= (totalNumberOfMinutes/60000).toFixed(2) %> hours</b> in total in the given period
      </div>
    </script>
</html>